<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- <meta name='viewport' content='width=device-width, initial-scale=1'> -->
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>
  <meta
    name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
  />
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />
  <link
    rel="alternate"
    type="application/rss+xml"
    title="{{ site.title }}"
    href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}"
  />
  <link rel="stylesheet" href="/assets/css/styles.css" />
  <style>
    {% capture inlineCSS %}
      {% include app.scss %}
    {% endcapture %}

    {{ inlineCSS | scssify }}
  </style>
</head>
