<header class="c-header">
  <div class="o-grid">
    <div class="o-grid__col o-grid__col--full">
      <div class="c-header__inner">
        <div class="o-grid">
          <div class="o-grid__col o-grid__col--1-4-s">
            <div class="c-logo u-text-left">
              <a class="c-logo__link" href="{{ site.baseurl }}/">
                <img
                  src="{{ base_path }}/assets/images/thebird_logo.png"
                  width="100"
                />
              </a>
            </div>
          </div>

          <div id="main-menu" class="o-grid__col o-grid__col--3-4-s menu-hide">
            <div id="main-menu-content">{% include menu.html %}</div>
          </div>

          <div class="o-grid__col o-grid__col--3-4-s toggle-menu-hide">
            <label
              class="js-off-canvas-toggle c-off-canvas-toggle"
              aria-label="Toggle navigation"
            >
              <span class="c-off-canvas-toggle__icon"></span>
            </label>
          </div>

          <div class="o-grid__col o-grid__col--3-4-s toggle-menu-hide">
            <div class="c-off-canvas-content">
              <label
                class="js-off-canvas-toggle c-off-canvas-toggle c-off-canvas-toggle--close"
              >
                <span class="c-off-canvas-toggle__icon"></span>
              </label>

              <ul class="c-nav o-plain-list">
                {% include navigation.html %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
