/*------------------------------------*\
  Components > Menu
\*------------------------------------*/

#main-menu {
  position: relative;
}

#main-menu-content {
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  bottom: 2px;
}